/* =============== GOOGLE FONTS =============== */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800&display=swap');

/* =============== VARIABLES CSS =============== */

:root {
    /* =============== Colores =============== */
    --primary-100: #082530;
    --primary-200: #334d59;
    --primary-300: #8ca8b6;
    --accent-100: #84bc9c;
    --accent-200: #2ca58d;
    --text-100: #1d1c1c;
    --text-200: #313d44;
    --bg-100: #fffefb;
    --bg-200: #f5f4f1;
    --bg-300: #cccbc8;

    /* =============== Font and tipography =============== */
    --body-font: 'Noto Sans JP', sans-serif;
    --biggest-font-size: 54px;
    --bigger-font-size: 45px;
    --h1-font-size: 36px;
    --h2-font-size: 24px;
    --h3-font-size: 20px;
    --normal-font-size: 14px;
    --small-font-size: 12px;
    --smaller-font-size: 10px;

    /* =============== Font Weight =============== */
    --font-thin: 100;
    --font-extra-light: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;
}

/* =============== BASE =============== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

input,
textarea,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--bg-100);
    overflow-x: hidden;
}

input,
textarea,
button {
    outline: none;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* =============== HEADER =============== */
.header {
    max-width: 1440px;
}
/* =============== nav bar =============== */
.nav {
    background: var(--bg-200);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logoContainer {
    /* background-color: slateblue; */
    width: 130px;
    height: 60%;
    margin-left: 10px;
}

.nav__logo {
    width: 100%;
    height: 100%;
}

.nav__menu {
    /* background: slateblue; */
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    transition: 0.1s ease-in-out;
}

.nav__item:hover {
    border-bottom: 3px solid var(--accent-100);
}

.nav__link {
    color: var(--primary-100);
}

.nav__buttons {
    /* background: slateblue; */
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.nav__button {
    padding: 5px 15px;
    border-radius: 5px;
    background-color: var(--accent-200);
    color: var(--primary-100);
    transition: 0.3s ease-in-out;
}

.nav__button:hover {
    background: var(--accent-100);
    cursor: pointer;
}

.nav__button--language {
    color: var(--primary-100);
    background: none;
    font-size: var(--h3-font-size);
}

.nav__button--language:hover {
    cursor: pointer;
}

/* ============ HEADER BANNER ================ */
.header__container {
    /* background: red; */
    width: 100%;
}

.header__banner {
    width: 100%;
}

/* ================= CTA ========================= */
.cta {
    background: var(--bg-200);
    padding: 80px 0;
    width: 100vw;
    display: grid;
    row-gap: 90px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'title title'
        'steps figure';
}

.cta__title {
    /* background: steelblue; */
    grid-area: title;
    /* margin-top: 80px; */
    text-align: center;
    font-size: var(--biggest-font-size);
    color: var(--primary-100);
    font-weight: var(--font-semi-bold);
}

.cta__stepsContainer {
    /* background: slateblue; */
    grid-area: steps;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.cta__subtitle {
    color: var(--primary-200);
    font-size: var(--h1-font-size);
}

.cta__stepsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cta__step {
    font-size: var(--normal-font-size);
    color: var(--text-200);
}

.cta__step--number {
    font-size: var(--h2-font-size);
    color: var(--primary-300);
}

.cta__btnAgendar {
    padding: 10px 25px;
    border-radius: 5px;
    background-color: var(--accent-200);
    color: var(--primary-100);
    transition: 0.3s ease-in-out;
}

.cta__btnAgendar:hover {
    background: var(--accent-100);
    cursor: pointer;
}

.cta__figure {
    /* background: crimson; */
    grid-area: figure;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta__img {
    width: 80%;
    height: 70%;
}

/* ================ BENEFICIOS =================== */
.beneficios {
    /* padding: 20px 0; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'figure figure'
        'container container';
}

.beneficios__figure {
    /* background: slateblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.beneficios__img {
    width: 80%;
}

.beneficios__container {
    background-color: var(--accent-100);
    /* padding-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.beneficios__title {
    color: var(--primary-100);
    font-size: var(--h1-font-size);
}

.beneficios__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.beneficio__item {
    color: var(--text-200);
}

.beneficio__check {
    color: var(--primary-100);
    font-size: var(--h2-font-size);
}

/* ============ EDUCATION ==================== */
.education {
    background: var(--bg-200);
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.education__subtitle {
    color: var(--primary-100);
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    text-align: center;
}

.education__btn {
    margin-top: 60px;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: var(--accent-200);
    color: var(--primary-100);
    transition: 0.3s ease-in-out;
}

.education__btn:hover {
    background: var(--accent-100);
    cursor: pointer;
}

/* ============ TESTIMONIAL ==================== */
.comments {
    max-width: 1440px;
    height: 600px;
    background-image: url('/assets/img/testimonials_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-top: 60px;
}

.comments__titles {
    background: rgba(255, 255, 255, 0.408);
    width: 100%;
}

.comments__subtitle {
    color: var(--primary-100);
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    text-align: center;
}

.comments__paragraph {
    color: var(--primary-100);
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    text-align: center;
}

.comments__container {
    /* background: slateblue; */
    width: 90%;
    height: 330px;
    display: flex;
    justify-content: space-evenly;
}

.comments__testimonial {
    background: var(--bg-200);
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.comments__img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    border: 5px solid var(--accent-200);
}

.comments__name {
    color: var(--primary-100);
    font-size: var(--h3-font-size);
}

.comments__opinion {
    color: var(--text-200);
    text-align: center;
}

/* ============ FOOTER ==================== */

.footer {
    background: var(--primary-100);
    max-width: 1440px;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.footer__social{
    /* background: crimson; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.social__subtitle {
    font-size: var(--h3-font-size);
    color: var(--bg-100);
}

.social__container {
    /* background: tomato; */
    display: flex;
    justify-content: center;
    height: 50px;
    gap: 15px;
}

.social__link {
    color: var(--accent-100);
    font-size: var(--h2-font-size);
    transition: 0.3s ease-in-out;
}

.social__link:hover{
    color: var(--bg-100);
    font-size: var(--h1-font-size);
}

.footer__logo {
    background: var(--bg-200);
    border-radius: 5px;
    width: 250px;
    height: 80px;
    margin: 0 auto;
}

.footer__sections {
    /* background: slateblue; */
    padding: 40px 0;
    border-top: 1px dotted var(--bg-100);
    border-bottom: 1px dotted var(--bg-100);
    width: 80%; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 15px;
}

.footer__item {
    /* background: tomato; */
    height: 25px;
    transition: 0.3s ease-in-out;
}

.footer__item:hover {
    border-bottom: 1px solid var(--bg-100);
}

.footer__link {
    color: var(--bg-100);
}

.footer__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__rights,
.footer__location {
    color: var(--bg-100);
}
