/* =========== DATOS PERSONALES ============ */
.datos {
    min-height: 100vh;
    height: 100%;
    background: var(--bg-200);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas:
        'cards cards cards'
        'info chart chart'
        'info chart chart';
    /* overflow-x: auto; */
}

.cards__container {
    grid-area: cards;
    width: 100%;
    /* background: slateblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px 0;
}

.card {
    background: var(--bg-100);
    border-radius: 5px;
    max-width: 210px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card__title {
    font-size: var(--normal-font-size);
}

.card__value {
    font-size: var(--h1-font-size);
    text-align: end;
}

.card--papel {
    background: var(--primary-100);
    color: var(--bg-200);
}

.card--vidrio {
    background: var(--primary-300);
    color: var(--text-100);
}

.card--plastico {
    background: var(--accent-100);
    color: var(--text-100);
}

.card--metales {
    background: var(--accent-200);
    color: var(--primary-100);
}

.card--exit {
    background: var(--bg-200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    border: none;
}

.card__home,
.card__logout {
    font-size: var(--h3-font-size);
    color: var(--primary-100);
    transition: 0.3s ease-in-out;
}

.card__home:hover,
.card__logout:hover {
    cursor: pointer;
    color: var(--accent-200);
}

.card__home--button{
    background: none;
}

/* ============ INFORMACIÓN PERSONAL ============= */
.info__container {
    background: var(--bg-200);
    grid-area: info;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.info__title {
    text-align: center;
    font-size: var(--h2-font-size);
    color: var(--primary-100);
}

.info__form {
    /* background: slateblue; */
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info__item {
    display: flex;
    flex-direction: column;
}

.info__label {
    font-size: var(--normal-font-size);
    color: var(--primary-100);
}

.info__input {
    background: none;
    border-bottom: 1px solid var(--bg-300);
}

.info__submit,
.info__edit {
    background: var(--accent-200);
    border-radius: 5px;
    margin: 15px auto;
    width: 60%;
    padding: 5px 0;
}

.info__submit--hidden{
    display: none ;
}

.info__submit:hover,
.info__edit:hover {
    background: var(--accent-100);
    cursor: pointer;
}

.chart__container {
    grid-area: chart;
    width: 100%;
    /* background: lightcoral; */
}

/* ============ AGENDAR CITA ============= */

.agendar {
    background: var(--bg-200);
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agendar__container{
    background: var(--bg-100);
    box-shadow: 0 0 5px 5px var(--bg-300);
    border-radius: 5px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.agendar__title{
    font-size: var(--h1-font-size);
    text-align: center;
    color: var(--primary-100);
}

.agendar__form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.agendar__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.agendar__label {
    color: var(--primary-100);
    font-size: var(--regular-font-size);
}

.agendar__input {
    background: var(--bg-200);
    padding: 8px 0;
}

.agendar__select {
    padding: 5px;
}

.agendar__submit {
    padding: 10px 0;
    border-radius: 5px;
    font-size: var(--regular-font-size);
    color: var(--primary-100);
    background: var(--accent-200);
}

/* ============ MIS CITAS ============= */


.citas {
    background: var(--bg-200);
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.citas__title{
    font-size: var(--h1-font-size);
    color: var(--primary-100);
    text-align: center;
    margin-top: 100px;
}

.table {
    max-width: 900px;
}

/* ============ RECOMPENSAS ============= */

.recompensas {
    background: var(--bg-200);
    min-height: 100vh;
    height: 100%;
}

.hidden {
    display: none;
}

/* =================== RESPONSIVE ================= */

@media (max-width: 1200px) {
    .datos {
        /* max-height: 100vh; */
        overflow-y: scroll;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'cards cards'
            'info info'
            'info info'
            'chart chart';
        /* overflow-x: auto; */
    }
}
